.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.git/
.envs/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/
*.log
.env
.env.*
!.env.example
node_modules/
.npm
.DS_Store
.coverage
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/
.pyre/
.pytype/
celerybeat-schedule
*.swp
*.swo
