WORDPRESS_PORT=8090
WORDPRESS_SITE_URL=http://127.0.0.1:8090
WORDPRESS_SITE_TITLE="Wellness Solutions Local"
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=ChangeMe123!
WORDPRESS_ADMIN_EMAIL=dev@wellness.local
WORDPRESS_DB_NAME=wellness_solutions
WORDPRESS_DB_USER=wellness
WORDPRESS_DB_PASSWORD=wellness_dev_password
WORDPRESS_DB_ROOT_PASSWORD=wellness_root_dev_password
WORDPRESS_TABLE_PREFIX=ws_
WORDPRESS_DEBUG=1
WORDPRESS_DEBUG_PHP=true
