{% extends "base.html" %}
{% load static %}

{% block title %}Home - Wellness Solutions{% endblock %}
{% block og_title %}Home - Wellness Solutions{% endblock %}

{% block inner %}
<!-- Hero Section -->
{% include "components/hero.html"  %}

<!-- Main Content -->
<div class="w-full">
    <!-- Main Sections with Consistent Spacing -->
    <div class="space-y-16 md:space-y-24">
        <!-- About Section -->
        {% include "components/_section_wrapper.html" with content="components/about.html" background="white" %}

        <!-- Wellness Solutions Section -->
        {% include "components/_section_wrapper.html" with content="components/wellness_solutions_section.html" background="gradient-down" %}

        <!-- Services Section -->
        {% include "components/_section_wrapper.html" with content="components/services.html" background="gradient-down" %}

        <!-- Clients Section -->
        {% include "components/_section_wrapper.html" with content="components/clients.html" background="gradient-up" %}

        <!-- Values Section -->
        {% include "components/_section_wrapper.html" with content="components/values.html" background="gradient-down" %}

        <!-- Testimonials Section -->
        {% include "components/_section_wrapper.html" with content="components/testimonials.html" background="white" %}

        <!-- CTA Section -->
        {% include "components/_section_wrapper.html" with content="components/cta.html" background="primary" %}
    </div>
</div>
{% endblock inner %}
