{% extends "base.html" %}

{% block title %}Whoops! Page Not Found{% endblock title %}
{% block content %}
  <div class="text-center py-12">
    <h1 class="text-4xl font-semibold text-gray-700">Whoops! Page Not Found</h1>
    <h3 class="text-2xl mt-4 text-gray-600">Looks like this page took a little stretch and wandered off!</h3>
    <p class="mt-4 text-gray-500">
      Don’t worry, we’ll help you get back on track. Try refreshing the page or check out our menu to find your way.
    </p>
    <p class="mt-6 text-lg text-gray-700">
      If you feel lost, don’t hesitate to reach out to our support team for some guidance. We’re here to stretch things back into place!
    </p>
  </div>
{% endblock content %}
