{% comment %}
Usage: {% include "components/_section_wrapper.html" with content=template_name background="white|gradient" %}
{% endcomment %}

<section class="relative w-full {% if content != 'components/hero.html' %}{% if content == 'components/cta.html' %}pt-16 md:pt-20{% else %}py-16 md:py-20{% endif %}{% endif %}
    {% if background == 'gradient-down' %}
        bg-gradient-to-b from-white to-gray-50/30
    {% elif background == 'gradient-up' %}
        bg-gradient-to-b from-gray-50/30 to-white
    {% elif background == 'primary' %}
        bg-gradient-to-b from-gray-50/30 to-primary text-white
    {% else %}
        {% if content != 'components/hero.html' %}bg-white{% endif %}
    {% endif %}">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {% include content %}
    </div>
</section>
